﻿<div class="container-fluid" id="home">
    <div class="jumbotron">
        <h2 class="text-left" id="intro-text">
            If you're a supplier, looking for jobs or someone who is looking to hire a professional,
            either way - we have it all.
        </h2>
        @if(!User.Identity.IsAuthenticated)
        {
              <a  asp-area="" asp-controller="Account" asp-action="RegisterAsSupplier" class="btn btn-lg cta-join">
            Join As a Professional
        </a>
        <span id="backslash">/</span>
        <a asp-area="" asp-controller="Account" asp-action="RegisterAsCustomer" class="btn btn-lg cta-join">
            Join As a Customer
        </a>
        }
      
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <span class="values-icons"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <h4>LOCALIZED SEARCHING</h4>
            <p>Some text comes here. More info about the heading statement above.</p>
        </div>
        <div class="col-md-3">
            <span class="values-icons"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
            <h4>EASY PROCESSING OF CONTRACTS</h4>
            <p>Some text comes here. More info about the heading statement above.</p>
        </div>
        <div class="col-md-3">
            <span class="values-icons"><i class="fa fa-shield" aria-hidden="true"></i></span>
            <h4>SECURE PAYMENT</h4>
            <p>Some text comes here. More info about the heading statement above.</p>
        </div>
        <div class="col-md-3">
            <span class="values-icons"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <h4>PROVED SUPPLIERS AND CLIENTS</h4>
            <p>Some text comes here. More info about the heading statement above.</p>
        </div>
    </div>
</div>
<hr />
<div class="container-fluid" id="services">
    <h2 class="text-center">Our Services</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="furniture-assembly">
                    <i class="fa fa-wrench services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Furniture Assembly</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="moving-help">
                    <i class="fa fa-wrench services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Moving Help</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="home-cleaning">
                    <i class="fa fa-bitbucket services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Home Cleaning</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="electrical">
                    <i class="fa fa-lightbulb-o services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Electrical</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="plumbing">
                    <i class="fa fa-shower services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Plumbing</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="interior-painting">
                    <i class="fa fa-paint-brush services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Interior Painting</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="sunshade-technician">
                    <i class="fa fa-sun-o services-icons" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Sunshade Technician</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="gardener">
                    <i class="fa fa-pagelines" aria-hidden="true"></i>
                </div>
                <div class="panel-footer">Gardener</div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container" id="testimonials">
    <div class="row">
        <div class="col-md-12">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                    <small>A person</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                    <small>A person</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                    <small>A person</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#quote-carousel" data-slide-to="0" class="active">
                        <img class="img-responsive " src="https://www.shareicon.net/download/2016/10/25/847810_man_512x512.png" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="1">
                        <img class="img-responsive" src="https://www.shareicon.net/download/2016/10/25/847810_man_512x512.png" alt="">
                    </li>
                    <li data-target="#quote-carousel" data-slide-to="2">
                        <img class="img-responsive" src="https://www.shareicon.net/download/2016/10/25/847810_man_512x512.png" alt="">
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>