﻿@{
    ViewData["Title"] = "Register as customer";
}

<script src="~/js/getCurrentLocation.js"></script>

@model RegisterAsCustomerViewModel

<script src="~/js/getCurrentLocation.js" type="text/javascript"></script>
<div class="col-lg-12">
    <h4 class="text-center">Register As Customer</h4>
</div>

<div class="col-md-12">
    <form asp-area="" asp-controller="Account" asp-action="RegisterAsCustomer" method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>LOCATION</h4>
                        <a id="btnLocation" href="#" onclick="getLocation(event)" class="btn btn get-location">Get My Location <i class="fa fa-location-arrow" aria-hidden="true"></i></a>

                        <div class="form-group">
                            <label asp-for="Country"></label>
                            <input id="country" asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input id="city" asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="NeighborhoodName"></label>
                            <input id="neighborhoodName" asp-for="NeighborhoodName" class="form-control" />
                            <span asp-validation-for="NeighborhoodName" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="StreetName"></label>
                            <input id="streetName" asp-for="StreetName" class="form-control" />
                            <span asp-validation-for="StreetName" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="StreetNumber"></label>
                            <input id="streetNumber" asp-for="StreetNumber" class="form-control" />
                            <span asp-validation-for="StreetNumber" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="PostalCode"></label>
                            <input id="postalCode" asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>

                        </div>

                        <div class="panel-footer">
                            <button type="submit" class="btn btn-lg submit">Become Customer</button>
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-lg cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
