﻿@model IEnumerable<AllJobsVmCustomer>
@{
    ViewData["Title"] = "My Jobs";
}

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                @if (Model.Any(c => c.IsJobTaken))
                {
                    <h3 class="text-primary">
                        Jobs taken by supplier cannot be edited or deleted until they are finished.
                    </h3>
                }
                <br />
                <div class="panel panel-success">
                    <div class="panel-heading text-center">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-wrench" aria-hidden="true"></i> Service Type</th>
                                    <th><i class="fa fa-header" aria-hidden="true"></i> Job Title</th>
                                    <th><i class="fa fa-briefcase" aria-hidden="true"></i> Is Job Taken</th>
                                    <th><i class="fa fa-cogs" aria-hidden="true"></i> Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in Model)
                                {
                                    <tr>
                                        <td>@job.FieldOfWork</td>
                                        <td>@job.Title</td>
                                        <td>@(job.IsJobTaken ? "Yes" : "No")</td>
                                        <td>

                                            <a class="btn btn-sm btn-warning  @(job.IsJobTaken ? "disabled" : string.Empty)" asp-area="Customer" asp-controller="Jobs" asp-action="Edit" asp-route-id="@job.Id">Edit</a>


                                            <a class="btn btn-sm btn-danger  @(job.IsJobTaken ? "disabled" : string.Empty)" asp-area="Customer" asp-controller="Jobs" asp-action="Delete" asp-route-id="@job.Id">Delete</a>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        Total Jobs: <strong>@Model.Count()</strong>
                    </div>
                </div>
                <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-2 col-md-8">
        <h3 class="text-primary">
            You have no jobs.
        </h3>

        <br />
        <div class="col-md-2">
            <a class="btn btn-sm btn-warning" asp-action="CreateJob">Create your first job</a>
        </div>
    </div>
}
