﻿@model DeleteJobVm
@{
    ViewData["Title"] = "Delete";
}



<div class="row">
    <div class="jumbotron">
        <h2 class="text-center">Delete @Model.Title</h2>
        <br />
        <div class="text-center">
            <h3>You are about to delete @Model.Title job</h3>
            <h3>Are you sure?</h3>

        </div>
        <div class="col-md-3">
            <form asp-action="Destroy" asp-route-id="@Model.Id" method="post">
                <input type="submit" class="btn btn-lg btn-danger" value="Confirm" />
            </form>
        </div>
        <div class="col-md-offset-10">
            <a asp-action="All" class="btn btn-lg btn-primary">Go Back</a>
        </div>

    </div>
</div>