﻿@model EditJobBm
@{
    ViewData["Title"] = $"Edit {Model.Title}";
}

<script src="~/bower_components/tinymce/tinymce.min.js"></script>
<script src="~/js/getCurrentLocation.js" type="text/javascript"></script>
<div class="col-lg-12">
    <h4 class="text-center">Edit @Model.Title</h4>
</div>

<div class="col-md-12">
    <form asp-controller="Jobs" asp-action="Edit" method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FieldOfWork"></label>
                            <select class="form-control" asp-for="FieldOfWork" asp-items="Html.GetEnumSelectList<Category>()"></select>
                            <span asp-validation-for="FieldOfWork" class="text-danger"></span>
                        </div>
                        <script>tinymce.init({ selector: '#description' });</script>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <textarea id="description" rows="10" asp-for="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>LOCATION</h4>
                        <a id="btnLocation" href="#" onclick="getLocation(event)" class="btn btn-lg get-location">Get Location <i class="fa fa-location-arrow" aria-hidden="true"></i></a>

                        <div class="form-group">
                            <label asp-for="Country"></label>
                            <input id="country" asp-for="Country" class="form-control" />
                            <span asp-validation-for="Country" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="City"></label>
                            <input id="city" asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Neighborhood"></label>
                            <input id="neighborhoodName" asp-for="Neighborhood" class="form-control" />
                            <span asp-validation-for="Neighborhood" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="StreetName"></label>
                            <input id="streetName" asp-for="StreetName" class="form-control" />
                            <span asp-validation-for="StreetName" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="StreetNumber"></label>
                            <input id="streetNumber" asp-for="StreetNumber" class="form-control" />
                            <span asp-validation-for="StreetNumber" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="PostalCode"></label>
                            <input id="postalCode" asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>

                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Edit Job" class="btn btn-lg submit" />
                            <a asp-area="Customer" asp-controller="Jobs" asp-action="All" class="btn btn-lg cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
