﻿@model ICollection<AllContractRequests>
@{
    ViewData["Title"] = "Requested Contracts From Customers";
}

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br />
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Customer First Name</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Customer Last Name</th>
                                    <th><i class="fa fa-wrench" aria-hidden="true"></i> Service Type</th>
                                    <th><i class="fa fa-header" aria-hidden="true"></i> Job Title</th>
                                    <th><i class="fa fa-handshake-o" aria-hidden="true"></i> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contract in Model)
                                {

                                    <tr>
                                        <td>@contract.CustomerFirstName</td>
                                        <td>@contract.CustomerLastName</td>
                                        <td>@contract.JobCategory</td>
                                        <td>@contract.JobTitle</td>


                                        @if (!contract.SupplierHasSentContract)
                                        {
                                            <td>

                                                <a class="btn btn-sm btn-warning" asp-area="Supplier" asp-controller="ContractsSupplier" asp-action="CreateContract" asp-route-id="@contract.OfferId">Create Contract</a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td><h4 class="text-primary">Sent</h4></td>
                                        }

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        Total Contracts Requested: <strong>@Model.Count()</strong>
                        Total Contracts Sent: <strong>@Model.Count(c => c.SupplierHasSentContract)</strong>
                    </div>
                </div>
                <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
}
else
{ <div class="jumbotron">
        <h2 class="text-center text-warning">
            You have no contract requests.

        </h2>
        <a class="btn btn-sm btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
    </div>
}
