﻿@model CreateContractBm
@{
    ViewData["Title"] = "Create Contract";
}
<div class="col-lg-12">
    <h4 class="text-center">Create @Model.JobTitle Contract</h4>
</div>
<div class="row">
    <div class="jumbotron">
        <div class="text-center">
            <h3> </h3>
        </div>
        <br />
        <div id="jobInfo">
            <h3>Job Info:</h3>
            <dl class="dl-horizontal">
                <dt>Type Of Job</dt>
                <dd>@Model.JobCategory</dd>
            </dl>
        </div>
        <div id="client">
            <h3>Client:</h3>
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>@Model.CustomerFirstName</dd>
                <dt>Last Name:</dt>
                <dd>@Model.CustomerLastName</dd>
                <dt>Phone:</dt>
                <dd>@Model.CustomerPhoneNumber</dd>
                <dt>Email:</dt>
                <dd>@Model.CustomerEmail</dd>
            </dl>
        </div>

        <div id="supplier">
            <h3>Supplier:</h3>
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>@Model.SupplierFirstName</dd>
                <dt>Last Name:</dt>
                <dd>@Model.SupplierLastName</dd>
                <dt>Phone:</dt>
                <dd>@Model.SupplierPhoneNumber</dd>
                <dt>Email:</dt>
                <dd>@Model.SupplierEmail</dd>
            </dl>
        </div>

        <div id="address">
            <h3>Job Adress:</h3>
            <dl class="dl-horizontal">
                <dt>Country:</dt>
                <dd>@Model.JobLocation.Country</dd>
                <dt>City:</dt>
                <dd>@Model.JobLocation.City</dd>
                <dt>Neighborhood Name:</dt>
                <dd>@Model.JobLocation.NeighborhoodName</dd>
                <dt>Street Name:</dt>
                <dd>@Model.JobLocation.StreetName</dd>
                <dt>Street Number:</dt>
                <dd>@Model.JobLocation.StreetNumber</dd>
                <dt>Postal Code:</dt>
                <dd>@Model.JobLocation.PostalCode</dd>
            </dl>
        </div>
        <hr />
        <br />
    </div>
</div>
<div class="col-md-12">
    <form asp-action="CreateContract" method="post">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">

                            <label asp-for="JobStartDate"></label>
                            <input type="date" id="jobStartDate" asp-for="JobStartDate" class="form-control" />
                            <span asp-validation-for="JobStartDate" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="JobEndDate"></label>
                            <input type="date" id="jobEndDate" asp-for="JobEndDate" class="form-control" />
                            <span asp-validation-for="JobEndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PricePerHour"></label>
                            <input id="pricePerHour" asp-for="PricePerHour" value="@Model.PricePerHour" class="form-control" onkeyup="calculate()" />
                            <span asp-validation-for="PricePerHour" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="WorkHours"></label>
                            <input id="workHours" asp-for="WorkHours" class="form-control" min="1" max="10" onkeyup="calculate()" />
                            <span asp-validation-for="WorkHours" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TotalPricePerDay"></label>
                            <input id="totalPrice" asp-for="TotalPricePerDay" class="form-control" />
                            <span asp-validation-for="TotalPricePerDay" class="text-danger"></span>
                        </div>
                        <input type="hidden" name="offerId" value="@Model.OfferId" />
                        <input type="hidden" asp-for="JobTitle" value="@Model.JobTitle" />
                        <button type="submit" class="btn btn-success">Create Contract</button>
                        <a class="btn btn-primary cancel" asp-action="AllContractRequests">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/calculateContract.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




