﻿@{
    Layout = "_Layout";
}

@model ConfrimContractVm
@{
    ViewData["Title"] = "ConfirmContract";
}

<h2 class="text-center">Contract Description</h2>
<div class="row">
    <div class="jumbotron">
        <div class="text-center">
            <h3>@Model.JobTitle Contract </h3>
        </div>
        <br />
        <div id="jobInfo">
            <h3>Job Info:</h3>
            <dl class="dl-horizontal">
                <dt>Job Service</dt>
                <dd>@Model.JobCategory</dd>
                <dt>Start Date</dt>
                <dd>@Model.JobStartDate.ToShortDateString()</dd>
                <dt>End Date</dt>
                <dd>@Model.JobEndDate.ToShortDateString()</dd>
                <dt>Price Per Hour</dt>
                <dd>@Model.PricePerHour</dd>
                <dt>Daily Work Hours</dt>
                <dd>@Model.WorkHours</dd>
                <dt>Total Price</dt>
                <dd>@Model.TotalPricePerDay</dd>
            </dl>
        </div>
        <div id="client">
            <h3>Client:</h3>
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>@Model.CustomerFirstName</dd>
                <dt>Last Name:</dt>
                <dd>@Model.CustomerLastName</dd>
                <dt>Phone:</dt>
                <dd>@Model.CustomerPhoneNumber</dd>
                <dt>Email:</dt>
                <dd>@Model.CustomerEmail</dd>
            </dl>
        </div>

        <div id="supplier">
            <h3>Supplier:</h3>
            <dl class="dl-horizontal">
                <dt>First Name:</dt>
                <dd>@Model.SupplierFirstName</dd>
                <dt>Last Name:</dt>
                <dd>@Model.SupplierLastName</dd>
                <dt>Phone:</dt>
                <dd>@Model.SupplierPhoneNumber</dd>
                <dt>Email:</dt>
                <dd>@Model.SupplierEmail</dd>
            </dl>
        </div>

        <div id="address">
            <h3>Job Adress:</h3>
            <dl class="dl-horizontal">
                <dt>Country:</dt>
                <dd>@Model.JobLocation.Country</dd>
                <dt>City:</dt>
                <dd>@Model.JobLocation.City</dd>
                <dt>Neighborhood Name:</dt>
                <dd>@Model.JobLocation.NeighborhoodName</dd>
                <dt>Street Name:</dt>
                <dd>@Model.JobLocation.StreetName</dd>
                <dt>Street Number:</dt>
                <dd>@Model.JobLocation.StreetNumber</dd>
                <dt>Postal Code:</dt>
                <dd>@Model.JobLocation.PostalCode</dd>
            </dl>
        </div>
        <hr />
        <br />
        <a class="btn btn-primary" asp-action="All">Go Back</a>
    </div>
</div>
