﻿@model ICollection<AllContracts>
@{
    ViewData["Title"] = "Recieved Contracts From Suppliers";
}

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br />
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Supplpier First Name</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Supplpier Last Name</th>
                                    <th><i class="fa fa-wrench" aria-hidden="true"></i> Service Type</th>
                                    <th><i class="fa fa-header" aria-hidden="true"></i> Job Title</th>
                                    <th><i class="fa fa-handshake-o" aria-hidden="true"></i> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var contract in Model)
                                {


                                    <tr>
                                        <td>@contract.SupplierFirstName</td>
                                        <td>@contract.SupplierLastName</td>
                                        <td>@contract.JobCategory</td>
                                        <td>@contract.JobTitle</td>


                                        <td>
                                            @if (contract.IsSignedByCustomer)
                                            {
                                            <h4 class="text-success">Confirmed  <a class="btn btn-sm btn-success" asp-area="Customer" asp-controller="ContractsCustomer" asp-action="DetailsContract" asp-route-id="@contract.ContractId"><i class="fa fa-info" aria-hidden="true"></i></a></h4>
                                              
                                            }
                                            else
                                            {
                                                <a class="btn btn btn-warning" asp-area="Customer" asp-controller="ContractsCustomer" asp-action="GetContractToConfirm" asp-route-id="@contract.ContractId">See Contract</a>
                                            }

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        Confirmed Contracts: <strong>@Model.Count(c => c.IsSignedByCustomer)</strong>
                        Total Contracts: <strong>@Model.Count()</strong>
                    </div>
                </div>
                <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
}
else
{
    <h3 class="text-primary text-center">No Contracts Sent To You</h3>
    
    <div class="text-center">
        <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
    </div>
   
}
