body {
    color: black;
    background-color: #f5f5f5;
}

/* Index Page */

.navbar {
    background-color: #f5f5f5;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ffd740;
}

a .fa-home {
    font-size: 1em;
}

a .fa-home:hover {
    color: #ffd740;
}

#home {
    background: url("../images/living-room-2605530_1920.jpg") center no-repeat;
}

#intro-text {
    padding-top: 60px;
    color: #ffd600;
}

#backslash {
    font-size: 2.5em;
    padding: 5px;
}

.cta-join {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #444444;
    background-color:#ffd740;
}

.jumbotron {
    background-color: transparent;
}

.col-md-3 {
    text-align: center;
}

.values-icons { 
    font-size: 60px !important; 
}

.fa-shield {
    color: #6FC1AD;
}

.fa-lock {
    color: #00CDED;
}

.fa-paperclip {
    color: grey;
}

.fa-map-marker {
    color: #EE6E73;
}

.panel-body {
    font-size: 60px;
    color: #444444;
}

.col-md-3 {
    transition: 1s ease;
    }
    
.col-md-3:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }


#furniture-assembly {
    background-color: #e0f7fa;
    font-size: 60px;
}

#moving-help {
    background-color: #b2ebf2;
    font-size: 60px;
}

#home-cleaning {
    background-color: #b2dfdb;
    font-size: 60px;
}

#electrical {
    background-color: #fff59d;
    font-size: 60px;
}

#plumbing {
    background-color: #ffab91;
    font-size: 60px;
}

#interior-painting {
    background-color: #ce93d8;
    font-size: 60px;
}

#sunshade-technician {
    background-color: #ffeb3b;
    font-size: 60px;
}

#gardener {
    background-color: #c5e1a5;
    font-size: 60px;
}

#services h2 {
    padding-bottom: 20px;
}

/* Index Page / testimonials carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}

/* Buttons */

.btn {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #f5f5f5;
}

a:hover {
    color: #f5f5f5 !important;
}

.confirm, .submit, .login, .sign-up {
    background-color: #00c853;
}

.cancel, .back, .logout, .read-more {
    background-color: #0091ea;
}

.edit {
    background-color: #ff6d00;
}

.delete {
    background-color: #dd2c00;
}

.save {
    background-color: #ff3d00;
}

.get-location {
    background-color: #EE6E73;
}

/* Forms */

.col-lg-12  {
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    margin-bottom: 10px;
}

.col-lg-12 h4 {
    font-size: 3em;
}


.form-control {
    text-align: center;
}

/* My Jobs */

.col-lg-12 {
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    margin-bottom: 10px;
}

.panel-body {
    font-size: inherit;
}

/*toasts messages*/

.toast-top-center {
    top: 2.2em;
    bottom: 5em;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 4em;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 5.5em;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
