/* Landing Page Slide Show */

body {
    background-color: #eee;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #444444;
    background-color: #faf4ca;
}

#intro {
    color: black;
}

#cta-home {
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #444444;    
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("../images/background_home.jpg")
}
.slideshow li:nth-child(2) {
    background-image: url("../images/cleanliness-2799459_1920.jpg");
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url("../images/indoor-2650994_1920.jpg");
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url("../images/washing-machine-2668472_1920.jpg");
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}

/* Call To Action Button */

#cta-landing {
    padding: 20px 40px;
    display: inline-block;
    position:relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #444444;
   
}
#cta-landing:before {
    content:'';
    background-color:#ffff00;
    position:absolute;
    width:0%;
    top:0;
    left:0;
    height:100%;
    transition: 0.3s linear;
    z-index:-1;
}

#cta-landing:hover:before {
    width:100%;
}