﻿@model IEnumerable<AllOffersSupplierVm>
@{
    ViewData["Title"] = "My Sent Offers";
}



@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br />
                <div class="panel panel-warning">
                    <div class="panel-heading text-center">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-header" aria-hidden="true"></i> Job Title</th>
                                    <th><i class="fa fa-wrench" aria-hidden="true"></i> Service Type</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Client First Name</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Client Last Name</th>
                                    <th><i class="fa fa-envelope" aria-hiden="true"></i> Client Email</th>
                                    <th><i class="fa fa-book" aria-hiden="true"></i> Read Offer</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var offer in Model)
                                {



                                    <tr>
                                        <td>@offer.JobTitle</td>
                                        <td>@offer.JobCategory</td>
                                        <td>@offer.CustomerFirstName</td>
                                        <td>@offer.CustomerLastName</td>
                                        <td>@offer.CustomerEmail</td>
                                        <td><a class="btn btn-primary" asp-action="ReadOffer" asp-route-id="@offer.Id"><i class="fa fa-book"></i> Read</a></td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        Total Offers Sent: <strong>@Model.Count()</strong>
                    </div>
                </div>
                <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
}
else
{
    <h3 class="text-primary">No offers sent to you</h3>
}
