﻿@model CreateOfferBm
@{
    ViewData["Title"] = "Make Offer";
}

<h2 class="text-center">Make Offer</h2>
<h4 class="text-primary text-center">Created offers cannot be edited or deleted.</h4>
<br/>
<script src="~/bower_components/tinymce/tinymce.min.js"></script>
<div class="jumbotron">
    <h4>Job details:</h4>
    <dl class="dl-horizontal">
        <dt>Service Type:</dt>
        <dd>@Model.JobCategory</dd>
        <dt>Client First Name:</dt>
        <dd>@Model.CustomerFirstName</dd>
        <dt>Client Last Name:</dt>
        <dd>@Model.CustomerLastName</dd>
    </dl>
    <form asp-action="CreateOffer" method="post">
        <input type="hidden" name="jobId" value="@Model.jobId" />

        <div class="form-group">
            <label asp-for="OfferTitle"></label>
            <input asp-for="OfferTitle" class="form-control" />
            <span asp-validation-for="OfferTitle" class="text-danger"></span>

        </div>
        <script>tinymce.init({ selector: '#content' });</script>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea id="content" asp-for="Content" rows="10" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>

        </div>
        <div class="col-md-11">
            <a asp-area="Supplier" asp-controller="Home" asp-action="AllJobs" class="btn btn-primary">Go Back</a>
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-success" value="Send Offer">
        </div>
    </form>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
