﻿@model ReadOffer
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Your Offer</h2>
<br />
<div class="jumbotron">
    <div class="text-center">
        <h3>@Model.OfferTitle</h3>
    </div>
    <br />
    @Html.Raw(Model.OfferContent)
    <hr />
    <br />

    <div id="jobInfo">
        <h3>Job Info:</h3>
        <dl class="dl-horizontal">
            <dt>Type Of Job</dt>
            <dd>@Model.FieldOfWork</dd>
        </dl>
    </div>

    <div id="client">
        <h3>Client:</h3>
        <dl class="dl-horizontal">
            <dt>First Name</dt>
            <dd>@Model.CustomerFirstName</dd>
            <dt>Last Name</dt>
            <dd>@Model.CustomerLastName</dd>
            <dt>Email</dt>
            <dd>@Model.CustomerEmail</dd>
            <dt>Phone</dt>
            <dd>@Model.CustomerPhoneNumber</dd>
        </dl>
    </div>

    <div id="address">
        <h3>Job Adress:</h3>
        <dl class="dl-horizontal">
            <dt>Country</dt>
            <dd>@Model.Country</dd>
            <dt>City</dt>
            <dd>@Model.City</dd>
            <dt>Neighborhood Name</dt>
            <dd>@Model.NeighborhoodName</dd>
            <dt>Street Name</dt>
            <dd>@Model.StreetName</dd>
            <dt>Street Number</dt>
            <dd>@Model.StreetNumber</dd>
            <dt>Postal Code</dt>
            <dd>@Model.PostalCode</dd>
        </dl>
    </div>
    <hr />

    <div class="col-md-2">
        <a asp-area="Supplier" asp-action="AllOffers" class="btn btn-primary">Go Back</a>
    </div>
    <br />
</div>
