﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - House Services</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/toastr/dist/css/toastr.css" />
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/index.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Landing"><i class="fa fa-home" aria-hidden="true"></i></a>
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    @if (User.IsInRole(WebConstants.CustomerRole))
                    {
                        @*<li><a asp-area="Customer" asp-controller="Jobs" asp-action="CreateJob">Add Job</a></li>
                            <li><a asp-area="Customer" asp-controller="Jobs" asp-action="All">My Jobs</a></li>*@

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown"
                               class="dropdown-toggle">Jobs<b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a asp-area="Customer" asp-controller="Jobs" asp-action="CreateJob" tabindex="-1">Add Job</a></li>
                                <li><a asp-area="Customer" asp-controller="Jobs" asp-action="All" as tabindex="-1">My Jobs</a></li>
                                @*<li><a tabindex="-1" href="#">Something else here </a></li>
                                    <li class="divider"></li>
                                    <li><a tabindex="-1" href="#"> Separated link </a></li>*@
                            </ul>
                        </li>
                        <li><a asp-area="Customer" asp-controller="OffersCustomer" asp-action="AllOffers">Offers</a></li>
                        <li><a asp-area="Customer" asp-controller="ContractsCustomer" asp-action="All">Contracts</a></li>
                    }

                    @if (User.IsInRole(WebConstants.SupplierRole))
                    {
                        <li><a asp-area="Supplier" asp-controller="Home" asp-action="AllJobs">Find Job</a></li>
                        <li><a asp-area="Supplier" asp-controller="OffersSupplier" asp-action="AllOffers">Offers</a></li>
                        <li><a asp-area="Supplier" asp-controller="ContractsSupplier" asp-action="AllContractRequests">Contracts</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <br />
    <div class="container-fluid">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p class="text-center">&copy; 2017 - House Services</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/toastr/dist/js/toastr.min.js"></script>



    @await Component.InvokeAsync("NToastNotify.Toastr")

    @RenderSection("Scripts", required: false)
</body>
</html>
