﻿@model FilteredJobSerach

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <h3 class="text-center">Filter Search</h3>
            <form class="form-group-sm" method="get" asp-action="AllJobs">

                <label asp-for="FieldOfWork"></label>
                <select class="form-control" asp-for="FieldOfWork" asp-items="Html.GetEnumSelectList<Category>()"></select>

                <label asp-for="Country"></label>
                <input class="form-control" asp-for="Country" />

                <label asp-for="City"></label>
                <input class="form-control" asp-for="City" />
                <input name="filterSearch" type="hidden" value="true" />
                <br />


                <div class="col-md-3">
                    <input type="submit" class="btn btn btn-primary " value="Filter Search" />
                </div>
                <div class="col-md-2 col-md-offset-6 ">
                    <a class="btn btn btn-primary" asp-area="Supplier" asp-controller="Home" asp-action="AllJobs">Reset Search</a>
                </div>
            </form>
        </div>
    </div>
</div>