﻿@model IEnumerable<AllJobsVmSupplier>
@{
    ViewData["Title"] = "Jobs";
}


<h2 class="text-center">All Jobs</h2>
<br />

@await Html.PartialAsync("_FilterSerach", new FilteredJobSerach())

<br />
<br />
@foreach (var job in Model)
{
    <div class="row">
        <div class="col-sm-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>@job.CustomerFirstName @job.CustomerLastName is looking for</h4>
                        <h2 class="text-primary">@job.FieldOfWork</h2>

                        <p>City: @job.City</p>
                        <p>
                            <a asp-area="Supplier" asp-controller="Home" asp-action="JobDetails" asp-route-id="@job.Id" class="btn btn-warning" role="button">More Details</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





