﻿@model IEnumerable<AllOffersCustomerVm>
@{
    ViewData["Title"] = "Offers sent to me";
}

@if (Model.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <br />
                <div class="panel panel-warning">
                    <div class="panel-heading text-center">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-header" aria-hidden="true"></i> Job Title</th>
                                    <th><i class="fa fa-wrench" aria-hidden="true"></i> Service Type</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Supplpier First Name</th>
                                    <th><i class="fa fa-user" aria-hiden="true"></i> Supplpier Last Name</th>
                                    <th><i class="fa fa-envelope" aria-hiden="true"></i> Supplier Email</th>
                                    <th><i class="fa fa-money" aria-hiden="true"></i> Supplier Hour Rate</th>
                                    <th><i class="fa fa-info" aria-hiden="true"></i> Offer Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var offer in Model)
                                {


                                    <tr>
                                        <td>@offer.JobTitle</td>
                                        <td>@offer.JobCategory</td>
                                        <td>@offer.SupplierFirstName</td>
                                        <td>@offer.SupplierLastName</td>
                                        <td>@offer.SupplierEmail</td>
                                        <td>@offer.SupperPricePerHour</td>
                                        <td><a class="btn btn-primary" asp-area="Customer" asp-controller="OffersCustomer" asp-action="DetailsOffer" asp-route-id="@offer.OfferId"><i class="fa fa-info-circle"></i></a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        Offers Received: <strong>@Model.Count()</strong>
                    </div>
                </div>
                <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
}
else
{
    <h3 class="text-primary text-center">No Contracts Sent To You</h3>
    
    <div class="text-center">
        <a class="btn btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
    </div>
}
