﻿@model OfferCustomerDetails

@{
    ViewData["Title"] = "Offer Details";
}

<h2 class="text-center">Offer Description</h2>
<br />
<div class="jumbotron">
 
    <br/>
    <div class="text-center">
        <h3>@Model.OfferTittle</h3>
    </div>
    <br/>
    @Html.Raw(Model.OfferContent)
    <hr/>
    <br/>

    <div id="supplierInfo">
        <h3>Supplier Info:</h3>
        <dl class="dl-horizontal">
            <dt>First Name:</dt>
            <dd>@Model.SupplierFirstName</dd>
            <dt>Last Name:</dt>
            <dd>@Model.SupplierLastName</dd>
            <dt>Email:</dt>
            <dd>@Model.SupplierEmail</dd>
            <dt>Phone Number:</dt>
            <dd>@Model.SupplierPhoneNumber</dd>
            <dt>Specialized in:</dt>
            <dd>@Model.SupplierFieldOfWork</dd>
            <dt>Hour rate:</dt>
            <dd>@($"{Model.SupplierPricePerHour}")</dd>
            <dt>Max Working Week Hours:</dt>
            <dd>@(Model.SupplierMaxWeekWorkHours + "H")</dd>
            <dt>Working week starts on:</dt>
            <dd>@(Model.SupplierWeekStart)</dd>

        </dl>
    </div>
    <hr/>

    <div class="col-md-2">
        <a asp-action="AllOffers" class="btn btn-primary">Go Back</a>
    </div>
    <div class="col-md-2 col-md-offset-8 ">
        <a asp-action="RequestContract" class="btn btn-warning" asp-route-id="@Model.OfferId">Request Contract</a>
    </div>
    <br/>
</div>


