﻿@model RequestContractVm
@{
    ViewData["Title"] = "RequestContract";
}


<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-primary">
            You are about to send contract request to @Model.SupplierFirstName @Model.SupplierLastName.
        </h2>
        <br />
    </div>

    <form class="form-group" asp-action="ConfirmRequestContract" method="post">
        <input type="submit" class="btn btn btn-success" value="Send Request to @Model.SupplierFirstName" />
    </form>

    <a class="btn btn btn-primary" asp-action="AllOffers">Go Back</a>

</div>
